* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
.navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}

.underline {
  width: 100%;
  height: 3px;
  background-color: #7f56da;
}
